body {
    background: black;
}

#inner-box {
    background-color: grey;
}

a {
    color: black;
}

a:hover {
    color: darkmagenta;
}

#intro-box {
    color: navy;
}

#weather-box {
    background-color: grey;
}