body {
    background: #332E3C;
}

#inner-box {
    background-color: #A29587;
}

a {
    color: black;
}

a:hover {
    color: #333322;
}

#intro-box {
    color: #C4B2BC;
}

#weather-box {
    background-color: #A29587;
    border-radius: 15px;
}

h1 {
    color: rgb(212, 211, 212);
}